.venv
myenv
dblp-ref-*.json
data
__pycache__
script_backups
*.Magnitude
references.txt
Top10CommunitiesAnalysis-*
representativesPerCommunity*
images
resources
; generated_material/
com0_all_coms.json
com0_coms_between2010_and_2015.json
com15226_articles_withVenueId.json
com15226_articles.csv
com2_all_coms_.json
com1_all_coms.json
com_all_coms.json
com1_last10.json
com1_last10_alternative.json
Top10_Communities.json
Top10_Communities.csv
wordclouds
Top10_Communities.*
Top1_Community.*
*.docx
formal